<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mushroomrobot.finwiz">

    <application

        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mushroomrobot.finwiz.account.DisplayAccountActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_accounts"
            android:parentActivityName=".budget.DisplayBudgetActivity"/>


        <activity
            android:name="com.mushroomrobot.finwiz.account.AddAccountActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_addacount"
            android:parentActivityName="com.mushroomrobot.finwiz.account.DisplayAccountActivity"/>


        <activity
            android:name="com.mushroomrobot.finwiz.budget.DisplayBudgetActivity"
            android:screenOrientation="portrait"
           />

        <activity android:name="com.mushroomrobot.finwiz.budget.BudgetDetailsActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_budgetdetails"
            android:parentActivityName="com.mushroomrobot.finwiz.budget.DisplayBudgetActivity"/>

        <activity android:name="com.mushroomrobot.finwiz.budget.BudgetHistoryActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_budgethistory"
            android:parentActivityName="com.mushroomrobot.finwiz.budget.BudgetDetailsActivity"/>

        <activity android:name="com.mushroomrobot.finwiz.reports.ReportsActivity"
            android:screenOrientation="portrait"
            android:label="Reports"
            android:noHistory="true"
            />

        <activity android:name=".settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/settings_label" />

        <activity android:name=".settings.SettingsActivityDraft"
            android:screenOrientation="portrait"
            android:label="@string/settings_label" />

        <provider
            android:name="com.mushroomrobot.finwiz.data.EverythingProvider"
            android:authorities="com.mushroomrobot.finwiz.data"/>


    </application>

</manifest>
